@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

*{
    margin: 5px;
    padding: 5px;;
    box-sizing: border-box;
  
}
body{

    background: white;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

div {

    border-radius: 50%;
}

div .circle1 {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #1ABE84
  }

div .circle2 {
    position: relative;
    transform: translate(20%, 20%);
    width: 30px;
    height: 30px;
    background-color: white;

}

div .circle3 {
    position: relative;
    /*transform: translate(-1%, 1%);  */
    transform: scale(1) translate(-30%, -30%);
    width: 20px;
    height: 20px;
    background-color: #FB8F1D;
}

.nav {
    
    display: flex;
    flex-direction: row;
    align-items: right;
    justify-content: center;
    padding: 0px, 40px;
    font-family: 'Playfair Display', serif;
    list-style: none;
  
  }

ul {

    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
    min-width: fit-content;


}
.nav li, a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    font-family: Arial, Helvetica, sans-serif;
    color: #B8BECD;
    font-size: 16px;
    padding-top: 0px;
    padding-right: 3px;
    text-decoration: none;
    list-style:none;
    
}


/*.bar li a{
    
    transition: all 0,3 ease, 0;
}   */


div .button1 {

    color: white;
    background-color: #FB8F1D;
    font-size: 16px;
    padding: 30px, 30px;
    width: 100px;
    height: 30px;
    float: right;
    border: 1px solid #FB8F1D; 
    border-radius: 20px;
}

div .button2 {

    color: #FB8F1D;
    background-color: white;
    font-size: 16px;
    padding: 1px, 30px, 30px, 1px;
    width: 100px;
    height: 30px;
    float: right;
    border: 1px solid white;
    border-radius: 20px;
}

 div .text{
    
   font-family: 'Playfair Display', serif; 
   width: 150px;
   height: 150px;
   padding: 40px, 25px, 40px, 20px;
   margin: 20px, 20px;

}

div .subtext {

    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
}


div .travelpic{

    position: absolute;
    width: 300px;
    height: 300px;
    padding: 20px, 20px,20px, 50px;
    filter: drop drop-shadow(0px 4px 4px) rgba( 0, 0, 0, 0.25);

}

div  .holidaybuttons {

    color: #B8BECD;
    background-color: white;
    font-size: 15px;
    font-weight: 400;
    padding: 30px, 30px;
    margin: 25px, 15px;
    width: 100px;
    height: 30px;
    float: left;
    border: 1px solid gray;
    border-radius: 20px;

}



div .explore_button {

    color:  #FB8F1D;
    background-color: white;
    font-size: 16px;
    padding: 30px, 30px;
    margin: 25px, 15px;
    width: 80 px;
    height: 30px;
    float: left;
    border: 1px solid white;
    border-radius: 20px;

}